<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title URL Shortener
        link(rel="stylesheet", href="/css/index.css")
    body
        .middle
            p.title URL Shortener
            p.subtitle Turn
            p.subtitle
                input.input#url(type="text", placeholder="https://www.google.com")
            p.subtitle into
            p.subtitle
                | #{ host }/
                input.input#alias(type="text", placeholder="tKJ3K6", size="10")
            p.subtitle
                span#message
                p#link
        script(src="/js/index.js")
